page-login {

}
.logo{
    width: 60%;
    padding-top: 30px;
    padding-bottom: 30px;
}
.logos{
    text-align: center;
}
#login{
    //background-color: #cc5e00;
    background-color: #ff7500;
   
}
.conten{
    background-color: rgb(241, 241, 241);
}